{% extends 'base.html' %}

{% block title %} Search cities | {% endblock %}

{% block content %}
    <div class="w-full flex flex-wrap items-center">

        <form method="get" class="lg:w-1/4 px-4 mx-auto">
            <div class="mb-3">
                <label class="text-white text-center">City name</label>
                <input type="text" name="q" class="w-full mt-2 px-4 py-2 rounded-xl" list="datalistOptions">
            </div>
            <datalist id="datalistOptions">
                {% for short in shorts %}
                    <option value="{{ short }}">
                {% endfor %}
            </datalist>
            <button class="px-10 w-full py-3 rounded-xl text-white bg-teal-800 hover:bg-teal-700">Qidirish</button>
        </form>
    </div>

    <div class="p-5 lg:p-10 text-center">
        <h1 class="text-3xl lg:text-4xl text-white">Rooms</h1>
    </div>
    <div class="w-full flex flex-wrap items-center">

        {% for city in data %}
            <div class="w-full lg:w-1/4 px-3 py-3">
                <div class="p-4 bg-white shadow rounded-xl text-center">
                    <h2 class="mb-2 text-2xl font-semibold">{{ city.name }} - {{ city.country }}</h2>
                    <a href="#"
                       class="px-5 py-3 block rounded-xl text-white bg-teal-600 hover:bg-teal-800">{{ city.region }}</a>
                </div>
            </div>

        {% endfor %}
    </div>


{% endblock %}
